@use "@shared/styles/_mixins.scss" as mixin;

.auth__form {
  @include mixin.flex-column;
  align-items: center;
  gap: 10px;

  .auth__button__wrapper {
    text-align: center;
    width: 100%;
  }
}
