@use "@shared/styles/mixins" as mixin;

.platform {
  border-top: 2px solid var(--color-primary);
  position: relative;
  @include mixin.adaptive("padding-block", 80, 30);

  .platform__vector__left {
    background-image: url("/vectors/vector.svg");
    background-size: cover;
    position: absolute;
    left: -243px;
    top: 15%;
    transform: rotate(90deg);
    width: 541px;
    height: 261px;
  }

  .platform__vector__right {
    background-image: url("/vectors/vector.svg");
    background-size: cover;
    position: absolute;
    right: -272px;
    bottom: 10%;
    transform: rotate(-80deg);
    width: 541px;
    height: 261px;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 30%;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(151, 252, 240, 0.2);
    z-index: -1;
    border-radius: 100%;
    filter: blur(175px);
  }

  .platform__run__stroke__wrapper {
    display: none;

    @include mixin.tablets {
      display: block;
    }
  }

  .platform__wrapper {
    @include mixin.flex-column;

    border-radius: 20px;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;

    @include mixin.adaptive("padding-inline", 80, 20);
    @include mixin.adaptive("gap", 75, 20);

    .platform__header__wrapper {
      @include mixin.flex-row;
      position: relative;
    }

    .platform__header__content {
      @include mixin.flex-column;
      z-index: 1;
      flex-shrink: 0;
      @include mixin.adaptive("padding-block", 65, 30);
      @include mixin.adaptive("padding-inline", 137, 80);

      position: relative;
      background-image: url("/platform-bg.webp");
      background-size: cover;
      border-radius: 10px;
      gap: 10px;
      width: 100%;

      b {
        color: var(--color-primary);
      }

      @include mixin.phones-xl {
        max-width: max-content;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .platform__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 382px));

      @include mixin.adaptive("gap", 25, 10);

      .platform__content__desc {
        @include mixin.flex-column;
        @include mixin.adaptive("gap", 10, 5);

        position: relative;
        border-radius: 5px;
        cursor: pointer;
        transition: all .5s;
        padding: 25px;
        background: var(--color-black-secondary);
        border: 2px solid var(--color-white-primary);

        &:before {
          position: absolute;
          content: "";
          width: 28px;
          height: 24px;
          top: -10px;
          left: -10px;
          border-radius: 5px;
          background: linear-gradient(45deg, rgba(108,207,207,1) 0%, rgba(49,253,224,1) 50%, rgba(108,207,207,1) 100%);
          opacity: 80%;
        }
      }
    }

    .platform__link {
      padding: 10px 18px;
      border: 2px solid var(--color-primary);
      border-radius: 15px;
      transition: ease-in 0.3s;
      color: var(--color-white-primary);

      &:hover {
        box-shadow: 0 0 10px var(--color-primary);
        color: var(--color-gray-primary);
      }
    }
  }
}
