@use "@shared/styles/mixins" as mixin;

.platform {
  border-top: 2px solid var(--color-primary);
  position: relative;
  @include mixin.adaptive("padding-block", 80, 30);

  b {
    color: var(--color-primary);
  }

  .platform__run__stroke__wrapper {
    display: none;

    @include mixin.tablets {
      display: block;
    }
  }

  .platform__wrapper {
    @include mixin.flex-column;

    border-radius: 20px;
    @include mixin.adaptive("gap", 75, 20);

    .platform__header__wrapper {
      @include mixin.flex-row;
      position: relative;
      max-width: 1800px;
      width: 100%;
      padding: 0 20px;
      margin: 0 auto;
    }

    .platforms__list__wrapper {

    }
  }
}
