@use "@shared/styles/_mixins.scss" as mixin;

.services {
    border-top: 1px solid var(--color-gray-secondary);

    @include mixin.adaptive("padding-block", 100, 30);

    padding: 0 20px;

    @include mixin.adaptive("padding-block", 80, 30);

    .services__wrapper {
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;

        @include mixin.flex-column;

        @include mixin.desktop {
            @include mixin.flex-space;

            flex-direction: row;
        }

        b {
            color: var(--color-primary)
        }

        .services__content {
            margin: 0 0 50px;

            .services__title {
                @include mixin.adaptive("margin-bottom", 40, 20);
            }

            .services__list {
                @include mixin.flex-column;
                @include mixin.adaptive("gap", 30, 20);

                .services__item {
                    display: flex;
                    align-items: start;
                    gap: 20px;
                    padding-block: 25px;
                    transition: ease-in-out .3s;

                    @include mixin.adaptive("padding-inline", 30, 20);

                    border-radius: 10px;
                    box-shadow: 0 0 30px var(--color-gray-secondary);
                    border: 1px solid var(--color-gray-secondary);

                    &:hover{
                        background: var(--color-gray-secondary);
                    }

                }

                .services__name {
                    margin: 0 0 10px;
                }

                .service__info {
                    margin: 0 0 10px;
                }
            }
        }

        .services__img {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
