@use "@shared/styles/_mixins.scss" as mixin;

.contacts__wrapper {
  @include mixin.flex-row;

  gap: 20px;

  .contacts__list {
    @include mixin.flex-row;

    gap: 20px;

    .contact__item {
      @include mixin.flex-row;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(30px);
      box-shadow: inset 0 -5px 25px rgba(0, 250, 250, 0.35), inset 10px 10px 5px rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      padding: 12px 14px;
      transition: filter 0.3s;
      gap: 15px;
    }
  }
}
