@use "@shared/styles/_mixins.scss" as mixin;

.contacts__wrapper {
  @include mixin.flex-row;
  @include mixin.adaptive("gap", 20, 10);

  .contact__item {
    @include mixin.flex-row;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    padding: 3px 10px;
    transition: filter 0.3s;
    gap: 15px;
  }
}
