@use "@shared/styles/mixins" as mixin;

.footer__contacts {
  @include mixin.flex-column;
  width: 935px;
  gap: 20px;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 990px;
    height: 375px;
    background-image: url("/footer-contacts-background.svg");
    background-repeat: no-repeat;
    top: -110px
  }

  .contact__item {
    @include mixin.flex-row;
    gap: 15px;
    @include mixin.adaptive("padding-inline", 80, 20);
    z-index: 1;
  }
}
