@use "@shared/styles/mixins" as mixin;

.footer {
  overflow: hidden;
  width: 100%;
  min-height: 340px;
  justify-self: center;
  background: var(--color-black-dark);

  .footer__inner {
    @include mixin.flex-row;
    @include mixin.adaptive("padding-block", 40, 20);
    height: inherit;
  }

  .other__info {
    background: var(--color-black-primary);
    @include mixin.flex-column;
    @include mixin.adaptive("padding-inline", 80, 20);
    padding-block: 20px;
    gap: 20px;
    position: relative;
    z-index: 2;
  }
}
