@use "@shared/styles/_mixins.scss" as mixin;

.header {
  //position: -webkit-sticky;
  //position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: ease-in-out .3s;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    @include mixin.adaptive("left", -95, -195);
    background-image: url("/header/header-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    @include mixin.adaptive("width", 1515, 420);
    height: 159px;
    z-index: 1;

    @include mixin.laptop {
      background-image: url("/header/header-background.svg");
    }
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-image: url("/header/logo-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    @include mixin.adaptive("height", 220, 110);
    @include mixin.adaptive("width", 600, 230);

    @include mixin.laptop {
      background-image: url("/header/logo-background.svg");
      @include mixin.adaptive("width", 650, 230);
    }
  }

  .header__inner {
    @include mixin.flex-row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 9;
    color: var(--color-white-primary);
    border-radius: 10px;
    transition: ease-in-out .3s;

    &.active {
      padding: 0;
      border: none;
    }

    @include mixin.laptop {
      padding: 0;
      border: none;
      align-items: self-start;
      @include mixin.adaptive("height", 125, 45);
    }

    .header__logo {
      @include mixin.adaptive("margin-right", 120, 0);

      @include mixin.laptop {
        @include mixin.adaptive("margin-right", -40, 120);
      }
    }
  }
}
