@use "@shared/styles/_mixins.scss" as mixin;

.header {
  //position: -webkit-sticky;
  //position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: ease-in-out .3s;

  .header__inner {
    @include mixin.flex-row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 9;
    color: var(--color-white-primary);
    border-radius: 10px;
    transition: ease-in-out .3s;

    &.active {
      padding: 0;
      border: none;
    }

    @include mixin.laptop {
      padding: 0;
      border: none;
      align-items: self-start;
    }

    .header__logo__wrapper {
      position: relative;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        right: -15px;
        background-image: url("/logo-background.svg");
        background-repeat: no-repeat;
        background-size: contain;
        @include mixin.adaptive("height", 220, 110);
        @include mixin.adaptive("width", 700, 345);
      }

      &:after {
        position: absolute;
        content: '';
        background-image: url("/logo-line.svg");
        background-repeat: no-repeat;
        background-size: contain;
        bottom: -45px;
        right: -31px;
        @include mixin.adaptive("height", 93, 75);
        @include mixin.adaptive("width", 600, 300);
      }
    }

    .header__logo {
      margin: 0 140px;
    }
  }
}
