@use "@shared/styles/_mixins.scss" as mixin;

.header {
  position: -webkit-sticky;
  position: sticky;
  padding: 5px 20px;
  top: 0;
  width: 100%;
  height: mixin.$headerHeight + px;
  z-index: 99;
  transition: ease-in-out .3s;
  background: #212020;

  .header__inner {
    @include mixin.flex-row;
    @include mixin.adaptive("gap", 40, 15);
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1800px;
    width: 100%;
    position: relative;
    z-index: 9;
    color: var(--color-white-primary);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    transition: ease-in-out .3s;

    &.active {
      padding: 0;
      border: none;
    }

    @include mixin.laptop {
      padding: 0;
      border: none;
    }

    .header__logo {
      @include mixin.flex-row;
      @include mixin.adaptive("gap", 40, 15);
    }

    .header__vertical_line {
      height: 47px;
      width: 2px;
      background: var(--color-primary);
      border: none;
      display: none;

      @include mixin.laptop {
        display: block;
      }
    }
  }
}
