@use "@shared/styles/_mixins.scss" as mixin;

.news {
    border-top: 1px solid var(--color-gray-secondary);

    padding: 0 20px;

    @include mixin.adaptive("padding-block", 80, 30);

    b {
        color: var(--color-primary);
    }

    .news__wrapper {
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;

        @include mixin.adaptive("gap", 50, 20);
        @include mixin.flex-column;

        .news__list {
            @include mixin.flex-column;
            @include mixin.adaptive("gap", 70, 40);
        }

        .news__item__wrapper {
            @include mixin.flex-column;

            border-radius: 5px;
            padding: 10px;
            background: var(--color-white-secondary);
            gap: 20px;
        }

        .news__item__img {
            max-width: 1000px;

            img {
                width: 100%;
            }
        }

        .news__item__text {
            @include mixin.flex-column;

            gap: 10px;
        }
    }
}
