@use "@shared/styles/mixins" as mixin;

$iconSizeMax: 200;
$iconSizeMin: 65;

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: max-content;
    position: relative;
    z-index: 9999;

    svg {
        @include mixin.adaptive("width", $iconSizeMax, $iconSizeMin);
        @include mixin.adaptive("height", $iconSizeMax, $iconSizeMin);

        @include mixin.desktop-xxl {
            width: 200px;
            height: 200px;
        }
    }
}

