@use "@shared/styles/_mixins.scss" as mixin;

.card__wrapper {
  @include mixin.flex-column;
  @include mixin.adaptive("gap", 60, 30);

  @include mixin.tablets {
    @include mixin.flex-row;
    align-items: self-start;
  }

  @include mixin.laptop {
    align-items: center;
  }

  .vacancy__header {
    display: flex;
    flex-direction: column;
    @include mixin.adaptive("gap", 50, 20);
  }

  .card__img {
    @include mixin.flex-column;
    align-items: center;
    justify-content: space-between;
    @include mixin.adaptive("gap", 20, 15);
    @include mixin.adaptive("padding", 25, 15);
    position: relative;
    background: #2929298a;
    max-width: 287px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(45deg, #2F2C2C, #338A80);
    color: var(--color-white-primary);

    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 2px;
      background: var(--color-green-light);
    }

    img {
      max-width: 148px;
      width: 100%;
    }
  }

  .vacancy__request__wrapper {
    max-width: 445px;
  }

  .card__content {
    @include mixin.flex-column;
    align-items: center;
    color: var(--color-white-primary);
    @include mixin.adaptive("gap", 70, 35);
  }

  .content__point {
    @include mixin.flex-column;
    gap: 10px;
    background: linear-gradient(125deg, rgba(51, 49, 49, 0.6) 60%, rgba(97, 199, 187, 0.2));
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    height: max-content;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      top: -15px;
      left: -15px;
      height: 80%;
      width: 80%;
      border-left: 2px solid var(--color-green-light);
      border-top: 2px solid var(--color-green-light);
      border-radius: 20px 0 0 0;
    }

    &:after {
      position: absolute;
      content: "";
      bottom: -15px;
      right: -15px;
      height: 80%;
      width: 80%;
      border-right: 2px solid var(--color-green-light);
      border-bottom:  2px solid var(--color-green-light);
      border-radius: 0 0 20px 0;
    }

    .point__item {
      @include mixin.flex-row;
      gap: 5px;
    }

    .point__marker {
      flex-shrink: 0;
      width: 24px;
      height: 9px;
      border-radius: 3px;
      background: linear-gradient(90deg, #97FCF0, #5A968F);
    }
  }
}
