@use "@shared/styles/_mixins.scss" as mixin;

.card__wrapper {
    @include mixin.flex-column;
    @include mixin.adaptive("gap", 40, 20);

    @include mixin.laptop {
        @include mixin.flex-row;
    }

    .card__img {
        img {
            width: 100%;
        }

        @include mixin.tablets {
            img {
                width: auto;
            }
        }
    }

    .card__content {
        @include mixin.flex-column;

        color: var(--color-white-primary);
        gap: 15px;
    }

    .content__point {
        @include mixin.flex-column;

        gap: 5px;
    }
}
