@use "@shared/styles/_mixins.scss" as mixin;

.employees__list__wrapper {
  @include mixin.flex-column;
  margin: 20px 0;
  gap: 20px;

  .employee__wrapper {
    @include mixin.flex-column;
    gap: 15px;
    border: 1px solid var(--color-green-light);
    border-radius: 10px;
    padding: 10px 15px;
  }

  .employee__header {
    @include mixin.flex-space;
  }

  .links__wrapper {
    @include mixin.flex-space;
  }

  .link {
    &.at_work {
      color: var(--color-violet-primary);
      transition: ease-in-out .3s;

      &:hover {
        color: var(--color-violet-secondary);
      }
    }

    &.finish {
      color: var(--color-green-light);
      transition: ease-in-out .3s;

      &:hover {
        color: var(--color-primary-hover);
      }
    }

    &.expired {
      color: var(--color-red-error);
      transition: ease-in-out .3s;

      &:hover {
        color: var(--color-red-dark);
      }
    }
  }
}
