@use "@shared/styles/mixins" as mixin;

.run_stroke__wrapper {
  background: var(--color-primary);
  overflow: hidden;
  padding: 20px 0;
  width: 100%;

  @include mixin.laptop {
    border-radius: 8px 8px 0 0;
  }

  @include mixin.flex-row;

  gap: 20px;

  .news__list {
    width: fit-content;

    @include mixin.flex-row;

    gap: 20px;
    animation: run-stroke 20s linear infinite;
    transform-style: preserve-3d;
  }

  &:hover {
    .news__list {
      animation-play-state: paused;
    }
  }
}

@keyframes run-stroke {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% + 120px));
  }
}
