@use "@shared/styles/_mixins.scss" as mixin;

.vacancy {
  position: relative;
  @include mixin.adaptive("padding-block", 70, 30);

  &:before {
    position: absolute;
    content: "";
    background-image: url("/wave-vacancy.webp");
    height: 100%;
    width: 100%;
    opacity: 0.2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .vacancy__wrapper {
    @include mixin.flex-column;
    @include mixin.adaptive("gap", 30, 10);
  }

  .link__back__wrapper {
    margin: 0 0 30px;

    .link__back {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .vacancy__request__wrapper {
    max-width: 445px;

    @include mixin.tablets {
      margin-left: 25%;
    }
  }
}

