@use "@shared/styles/_mixins.scss" as mixin;

.vacancy {
  border-top: 1px solid var(--color-gray-secondary);
  padding: 0 20px;

  @include mixin.adaptive("padding-block", 80, 30);

  .vacancy__wrapper {
    background: var(--color-secondary);
    max-width: 1800px;
    box-shadow: 0 0 30px var(--color-secondary);
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;

    @include mixin.adaptive("padding-block", 100, 20);
    @include mixin.adaptive("padding-inline", 80, 20);
    @include mixin.flex-column;
    @include mixin.adaptive("gap", 30, 10);
  }

  .link__back__wrapper {
    margin: 0 0 30px;

    .link__back {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

