@use "@shared/styles/mixins" as mixin;

$marginRight: 190;

.internship__wrapper {
  position: relative;
  @include mixin.adaptive("padding-block", 90, 40);

  &:before {
    position: absolute;
    content: "";
    top: 15px;
    left: 5px;
    width: 18px;
    height: 95%;
    background: linear-gradient(to bottom, #97FCF0, #338A80);
    border-radius: 50px;
    filter: blur(100px);
  }

  .internship__title {
    @include mixin.flex-column;
    gap: 5px;
  }

  .internship {
    @include mixin.flex-space;
    align-items: self-start;
    gap: 60px;
  }

  .internship__content {
    @include mixin.flex-column;
    @include mixin.adaptive("gap", 60, 30);
  }

  .stage_internship__list {
    @include mixin.flex-column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-image: url("/internship/internship-list-background.webp");
    background-repeat: no-repeat;
    background-size: contain;
    width: 707px;
    height: 444px;
    padding: 50px 60px;

    &:before {
      position: absolute;
      content: "";
      bottom: -15px;
      right: -15px;
      width: 100%;
      height: 100%;
      border-bottom: 5px solid var(--color-primary-hover);
      border-right: 5px solid var(--color-primary-hover);
      border-radius: 0 0 25px;
    }
  }

  .stage_internship__item {
    position: relative;
    cursor: pointer;

    &:before {
      position: absolute;
      content: "";
      top: 5px;
      right: -13px;
      border-bottom: 2px solid var(--color-white-primary);
      border-right: 2px solid var(--color-white-primary);
      width: 105%;
      height: 100%;
    }

    .stage__icon {
      position: absolute;
      top: -22px;
      right: -23px;
    }
  }

  .internship__background {
    display: none;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      bottom: -15px;
      left: -15px;
      width: 100%;
      height: 100%;
      border-bottom: 5px solid var(--color-gray-primary);
      border-left: 5px solid var(--color-gray-primary);
      border-radius: 0 0 0 25px;
    }

    @include mixin.desktop {
      display: block;
      max-width: 782px;
      width: 100%;
      height: 444px;

      .internship__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 782px;
        height: 444px;
        object-fit: contain;
        animation: fadeIn 1s ease-in-out forwards;
      }

      .internship__img.prev {
        animation: fadeOut 1s ease-in-out forwards;
      }
    }
  }

  .internship__button__wrapper {
    margin: 0 auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
