@use "@shared/styles/mixins" as mixin;

$marginRight: 190;

.internship__wrapper {
  position: relative;
  @include mixin.adaptive("padding-block", 90, 40);

  &:before {
    position: absolute;
    content: "";
    top: 15px;
    left: 5px;
    width: 18px;
    height: 95%;
    background: linear-gradient(to bottom, #97FCF0, #338A80);
    border-radius: 50px;
    filter: blur(100px);
  }

  .internship__title {
    @include mixin.flex-column;
    gap: 5px;
  }

  .internship {
    @include mixin.flex-space;
    gap: 60px;
  }

  .internship__content {
    @include mixin.flex-column;
    @include mixin.adaptive("gap", 60, 30);
  }

  .stage_internship__list {
    @include mixin.flex-row;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-end;
    position: relative;
    background-image: url("/internship/internship-list-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 757px;
    height: 458px;
    padding: 50px 60px;

    &:before {
      position: absolute;
      content: "";
      bottom: -20px;
      left: 10px;
      background-image: url("/internship/internship-list-line.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 783px;
      height: 412px;
    }
  }

  @include mixin.laptop {
    @for $i from 1 through 6 {
      $padding: $marginRight - $i * 30; // Вычисляем padding для текущей итерации

      .stage_internship__item:nth-child(#{$i}) {
        margin-right: #{$padding}px;
      }
    }
  }

  .stage_internship__item {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      top: 5px;
      right: -13px;
      border-bottom: 2px solid var(--color-white-primary);
      border-right: 2px solid var(--color-white-primary);
      width: 120%;
      height: 120%;
    }

    .stage__icon {
      position: absolute;
      top: -22px;
      right: -23px;
    }
  }

  .internship__background {
    display: none;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      left: -20px;
      bottom: -20px;
      width: 103%;
      height: 100%;
      border-left: 5px solid var(--color-primary);
      border-bottom: 5px solid var(--color-primary);
      border-radius: 0 0 0 20px;
    }

    @include mixin.desktop {
      display: block;

      .internship__img {
        width: 100%;
      }
    }
  }
}
