@use "@shared/styles/mixins" as mixin;

$height: 925;

.internship__wrapper {
  position: relative;
  @include mixin.adaptive("padding-block", 90, 40);

  &:before {
    position: absolute;
    content: "";
    top: 15px;
    left: 5px;
    width: 18px;
    height: 95%;
    background: linear-gradient(to bottom, #97FCF0, #338A80);
    border-radius: 50px;
    filter: blur(100px);
  }

  .internship__content {
    @include mixin.flex-column;
    @include mixin.adaptive("gap", 60, 30);
    margin: 0 auto;

    .stage__internship {
      @include mixin.flex-row;
      gap: 60px;
    }

    .stage_internship__list {
      @include mixin.flex-row;
      align-items: self-end;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 115%;
        height: 2px;
        background: var(--color-white-primary);
        z-index: 2;
      }

      &:after {
        position: absolute;
        content: "";
        right: -56px;
        bottom: -7px;
        width: 16px;
        height: 16px;
        background: var(--color-white-primary);
        border-radius: 50%;
        z-index: 1;
      }
    }

    .stage_internship__item {
      z-index: 1;
      @include mixin.flex-row;
      gap: 20px;
      width: 110px;
      padding: 60px 20px;
      background: linear-gradient(90deg, #514F4F, #119686);
      clip-path: polygon(50% 0%, -410% 100%, 0% 100%, 100% 100%, 525% 100%);

      @for $i from 1 through 5 {
        $height: $height - 150; // Вычисляем padding для текущей итерации

        &:nth-child(#{$i}) {
          height: #{$height}px;
        }
      }

      &+.stage_internship__item {
        margin-left: -55px;
      }
    }

    .stage__icon {
      margin: 0 0 auto;
    }

    .stage_internship__text {
      @include mixin.flex-column;
      justify-content: space-around;
      height: 775px;
      align-items: self-start;
    }
  }

  .internship__title {
    @include mixin.flex-column;
    gap: 5px;
  }

  .stage_internship__text__item {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: -360px;
      background: var(--color-white-primary);
      width: 350px;
      height: 2px;
    }

    &:after {
      position: absolute;
      content: "";
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      background: var(--color-white-primary);
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }

  .internship {
    @include mixin.flex-space;
    gap: 60px;
  }

  .internship__background {
    display: none;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      left: -20px;
      bottom: -20px;
      width: 103%;
      height: 100%;
      border-left: 5px solid var(--color-primary);
      border-bottom: 5px solid var(--color-primary);
      border-radius: 0 0 0 20px;
    }

    @include mixin.desktop {
      display: block;

      .internship__img {
        width: 100%;
      }
    }
  }
}
