@use "@shared/styles/_mixins.scss" as mixin;

.footer {
    width: 100%;
    justify-self: center;
    background: var(--color-secondary);

    .footer__inner {
        @include mixin.flex-column;
        @include mixin.adaptive("padding-block", 40, 20);
        @include mixin.adaptive("gap", 60, 20);

        .default__info {
            @include mixin.flex-column;

            row-gap: 20px;
            max-width: mixin.$maxContainer + px;
            width: 100%;

            @include mixin.desktop {
                @include mixin.flex-row;
                @include mixin.adaptive("column-gap", 140, 20);

                justify-self: center;
            }
        }

        .footer__logo {
            width: max-content;
            margin: 0 auto;

            @include mixin.desktop {
                margin: 0;
            }
        }

        .footer__links {
            @include mixin.page-flex;

            margin: 0 auto;
            gap: 20px 0;
            padding: 20px 0;
            row-gap: 20px;
            max-width: 550px;

            @include mixin.tablets {
                @include mixin.flex-row;

                gap: 0 40px;
            }

            @include mixin.desktop {
                margin: 0;
            }

            .footer__link__wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 20px 0;

                @include mixin.laptop {
                    @include mixin.flex-start;
                }
            }

            .footer__link {
                cursor: pointer;
            }
        }

        .footer__contacts {
            @include mixin.flex-column;

            width: max-content;
            margin: 0 auto;
            gap: 20px;

            @include mixin.desktop {
                align-items: self-start;
            }

            .contact__item {
                @include mixin.flex-row;

                gap: 15px;
            }
        }

        .footer__social {
            margin: 0 auto;

            @include mixin.flex-column;

            gap: 20px;

            @include mixin.desktop {
                margin: 0 0 0 auto;
            }
        }

        .other__info {
            @include mixin.flex-column;

            gap: 20px;
        }
    }
}
