@use "@shared/styles/mixins" as mixin;

.platform__card__wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;

  .platform__card {
    @include mixin.flex-column;
    min-height: 437px;
    gap: 45px;
    position: relative;

    .platform__header {
      @include mixin.flex-column;
      align-items: self-start;
      gap: 28px;

      @include mixin.tablets {
        @include mixin.flex-row;
        align-items: self-start;
      }

      .platform__start__info {
        @include mixin.flex-column;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        padding: 30px 9px;
        background: #2D2C2C;
        @include mixin.adaptive("width", 370, 260);
        @include mixin.adaptive("height", 311, 230);
        position: relative;

        &:before {
          position: absolute;
          content: "";
          top: -3px;
          left: -3px;
          background-image: url("/platforms/platform-bg.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: 100%;
        }

        &:after {
          position: absolute;
          content: "";
          bottom: -15px;
          left: -15px;
          border-radius: 0 0 0 30px;
          height: 100%;
          width: 100%;
          border-bottom: 4px solid var(--color-green-light);
          border-left: 4px solid var(--color-green-light);
        }
      }

      .start__info__img {
        @include mixin.adaptive("width", 206, 170);
        margin: auto;
        z-index: 1;

        img {
          width: 100%;
        }
      }

      .start__info__name {
        max-width: 100%;
        width: max-content;
        text-align: center;
        color: #0FB29F;
        z-index: 1;
      }

      .platform__main__info {
        @include mixin.flex-column;
        gap: 40px;
        position: relative;

        &:after {
          position: absolute;
          content: "";
          top: 70px;
          right: -20px;
          left: 0;
          width: 100%;
          height: 2px;
          background: var(--color-gray-dark);
        }

        &:before {
          position: absolute;
          content: "";
          top: 66px;
          right: 0;
          width: 10px;
          height: 10px;
          background: var(--color-white-secondary);
          border-radius: 50px;
          z-index: 2;
        }
      }

      .platform__name {
        @include mixin.flex-column;
        position: relative;
      }

      .platform__price {
        color: #0FB29F;
      }

      .platform__description {
        max-width: 1000px;
        @include mixin.flex-column;

        span {
          line-height: 30px;
        }
      }

      .additional__button__wrapper {
        max-width: 434px;
      }
    }
  }

  .background__image__before,
  .background__image__after {
    display: none;
    position: absolute;
    right: 0;
    width: 210px;
    height: 100%;

    @include mixin.desktop {
      display: block;
    }
  }

  .background__image__before {
    opacity: 1;
  }

  .background__image__after {
    opacity: 0;
  }
}
