@use "@shared/styles/_mixins.scss" as mixin;

.cases {
    border-top: 1px solid var(--color-gray-secondary);

    @include mixin.adaptive("padding-block", 100, 30);

    padding: 0 20px;

    @include mixin.adaptive("padding-block", 80, 30);

    b {
        color: var(--color-primary);
    }

    .cases__wrapper {
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;

        @include mixin.adaptive("gap", 175, 20);
        @include mixin.flex-column;

        @include mixin.laptop {
            @include mixin.flex-row;
        }

        .cases__text {
            @include mixin.flex-column;
            @include mixin.adaptive("gap", 40, 20);
        }

        .cases__image {
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }
}
