@use "@shared/styles/_mixins.scss" as mixin;

.brands_list {

    .brands_list__wrapper {
        max-width: 1800px;
        padding: 0 20px;
        margin: 0 auto;

        @include mixin.flex-wrap;

        justify-content: center;

        @include mixin.adaptive("gap", 170, 35);
        @include mixin.adaptive("padding-block", 45, 20);

        .brand__item {
            margin: auto 0;

            img {
                max-width: inherit;
                object-fit: contain;
            }
        }
    }
}
