@use "@shared/styles/_mixins.scss" as mixin;

.contacts__wrapper {
    @include mixin.flex-row;

    gap: 20px;

    .contacts__list {
        @include mixin.flex-row;

        gap: 20px;

        .contact__item {
            @include mixin.flex-row;
            transition: filter 0.3s;
            gap: 15px;

            &:hover {
                //filter: drop-shadow(0 0 15px var(--color-primary));
            }
        }
    }
}
