@use "@shared/styles/mixins" as mixin;

.platform__footer__wrapper {
  padding: 18px 0;
  position: relative;
  max-width: 980px;
  z-index: 2;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: -100%;
    border-radius: 0 20px 20px 0;
    height: 100%;
    background: linear-gradient(175deg, #363636 20%, rgba(4, 91, 81, 0.7));
  }

  &:after {
    position: absolute;
    content: "";
    top: -15px;
    right: -15px;
    border-radius: 0 30px 0 0;
    height: 100%;
    width: 100%;
    border-top: 5px solid var(--color-green-light);
    border-right: 5px solid var(--color-green-light);

    @include mixin.tablets {
      width: 50%;
    }
  }

  .platform__footer {
    @include mixin.flex-column;
    gap: 20px;
    position: relative;
    z-index: 2;
    max-width: 90%;
  }

  .benefits {
    @include mixin.flex-column;
    gap: inherit;

    .benefits__description {
      @include mixin.flex-column;
      gap: inherit;
    }

    .benefits__list {
      @include mixin.flex-column;
      gap: inherit;
    }

    .benefit__item {
      @include mixin.flex-row;
      gap: 24px;
    }

    .circular__marker {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      flex-shrink: 0;
      background: linear-gradient(90deg, #D9D9D9, #9E9B9B);
    }
  }

  .additional__info {
    color: #97FCF0;
  }
}
