@use "@shared/styles/_mixins.scss" as mixin;

.social__icons__wrapper {
  @include mixin.flex-row;

  gap: 10px;

  .social__icon {
    transition: all .3s;

    &:hover {
      path {
        stroke: var(--color-primary-hover);
      }
    }
  }
}
