@use "@shared/styles/_mixins.scss" as mixin;

.vacancies__list__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
  grid-auto-flow: row;
  justify-content: space-between;
  gap: 20px;
  z-index: 2;

  @include mixin.tablets {
    grid-template-columns: repeat(auto-fill, minmax(270px, auto));
  }

  @include mixin.laptop {
    grid-template-columns: repeat(3, auto);
  }

  .vacancies__item {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid #DBCACA;
    color: var(--color-white-primary);
    transition: all 0.3s;
    padding: 20px 0 0 0;
    background: linear-gradient(45deg, rgb(47, 44, 44) 25%, rgba(51,138,128,1) 100%);

    @include mixin.flex-column;

    gap: 10px;

    @include mixin.tablets {
      @include mixin.adaptive("width", 320, 270);
    }

    &:hover {
      scale: 1.1;
      box-shadow: 0 0 30px var(--color-black-primary);
    }

    .vacancy__name {
      padding: 15px 12px;
      width: 100%;
      text-align: center;
    }

    .vacancy_img {
      border-radius: 5px;
      @include mixin.adaptive("height", 141, 95);
    }
  }
}
