@use "@shared/styles/_mixins.scss" as mixin;

.vacancies__list__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-auto-flow: row;
  grid-gap: 5px;
  z-index: 2;

  @include mixin.phones-xl {
    grid-template-columns: repeat(auto-fill, minmax(165px, 200px));
    grid-gap: 10px;
  }

  @include mixin.tablets {
    grid-template-columns: repeat(auto-fill, minmax(270px, auto));
    grid-gap: 20px;
  }

  @include mixin.laptop {
    grid-template-columns: repeat(3, auto);
  }

  .skeleton {
    @include mixin.adaptive("height", 230, 177);
  }

  .vacancies__item {
    @include mixin.flex-column;
    gap: 10px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    width: 100%;
    border: 1px solid #DBCACA;
    color: var(--color-white-primary);
    background: linear-gradient(45deg, rgb(47, 44, 44) 25%, rgba(51, 138, 128, 1) 100%);
    transition: ease-in-out 0.3s;

    @include mixin.tablets {
      @include mixin.adaptive("width", 320, 270);
    }

    &:hover {
      box-shadow: 0 0 30px var(--color-primary);
    }

    .vacancy__name {
      padding: 15px 12px;
      width: 100%;
      text-align: center;
    }

    .vacancy_img {
      border-radius: 5px;
      @include mixin.adaptive("height", 141, 95);
    }
  }

}
