@use "@shared/styles/mixins" as mixin;

.stage__animation {
  display: none;

  @include mixin.laptop {
    display: block;
  }

  .line__before,
  .line__after {
    position: absolute;
    top: 0;
    @include mixin.adaptive("left", 350, 250);
    //left: 345px;
    object-fit: cover;
    @include mixin.adaptive("width", 1300, 150);
  }

  .line__after {
    opacity: 0;
  }

  .change_experience,
  .book,
  .contract,
  .bag,
  .money {
    position: absolute;
  }

  .change_experience {
    @include mixin.adaptive("top", 80, 65);
    @include mixin.adaptive("left", 400, 300);
  }

  .book {
    @include mixin.adaptive("top", 250, 0);
    @include mixin.adaptive("left", 595, 420);
  }

  .contract {
    @include mixin.adaptive("top", 310, 20);
    @include mixin.adaptive("left", 970, 290);
  }

  .bag {
    @include mixin.adaptive("top", 130, 15);
    @include mixin.adaptive("left", 1200, 320);
  }

  .money {
    @include mixin.adaptive("top", 245, 5);
    @include mixin.adaptive("left", 1450, 375);
  }
}