@use "@shared/styles/_mixins.scss" as mixin;

.solutions {
  position: relative;
  overflow: hidden;
  min-height: 550px;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 20px;
    background: var(--color-green-dark);
    width: 40px;
    filter: blur(100px);
  }

  @include mixin.adaptive("padding-top", 80, 30);

  @include mixin.desktop-xl {
    &:before {
      position: absolute;
      content: "";
      top: 135px;
      width: 150px;
      height: 25px;
      background: var(--color-green-light);
    }
  }

  .solutions__image {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("/gear-solutions.png");
    background-size: contain;
    background-repeat: no-repeat;
    @include mixin.adaptive("width", 121, 56);
    @include mixin.adaptive("height", 189, 88);
  }

  .solutions__wrapper {
    @include mixin.flex-column;
    align-items: center;
    @include mixin.adaptive("gap", 50, 20);
    border-radius: 20px;

    @include mixin.adaptive("padding-block", 40, 20);
    @include mixin.adaptive("gap", 50, 20);

    @include mixin.tablets {
      @include mixin.flex-column;
      align-items: self-start;
    }

    .solutions__title {
      @include mixin.flex-column;
      flex-shrink: 0;
      position: relative;
      z-index: 9;
      width: max-content;
      margin: 0 0 40px;
    }

    .solutions__list {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @include mixin.adaptive("gap", 15, 15);
      padding: 0 20px;

      @include mixin.laptop {
        flex-wrap: nowrap;
      }
    }

    .solution__item {
      @include mixin.flex-row;
      @include mixin.adaptive("gap", 25, 15);
      background: linear-gradient(90deg, rgba(15, 178, 159, 0.48), rgba(53, 53, 53, 0.48));
      padding: 20px 25px;
      border-radius: 10px;
    }

    .solution__item__text {
      position: relative;
    }
  }
}
