@use "@shared/styles/_mixins.scss" as mixin;

.solutions {
  border-top: 2px solid var(--color-primary);
  position: relative;
  overflow: hidden;

  .solution__vector__left {
    background-image: url("/vectors/vector.svg");
    background-size: cover;
    position: absolute;
    left: -325px;
    top: 15%;
    transform: rotate(90deg);
    width: 725px;
    height: 311px;
  }

  .solution__vector__right {
    background-image: url("/vectors/vector.svg");
    background-size: cover;
    position: absolute;
    right: -205px;
    bottom: 5%;
    transform: rotate(-80deg);
    width: 541px;
    height: 261px;
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background: linear-gradient(10deg, #6CE3D5 35%, #B9F3BB 65%);
    filter: blur(150px);
    height: 46%;
    width: 5%;
  }

  @include mixin.adaptive("padding-block", 80, 30);

  .solutions__wrapper {
    @include mixin.flex-column;
    align-items: center;
    @include mixin.adaptive("gap", 50, 20);
    border-radius: 20px;

    @include mixin.adaptive("padding-block", 40, 20);
    @include mixin.adaptive("gap", 50, 20);

    @include mixin.tablets {
      @include mixin.flex-column;
      align-items: center;
    }

    .solutions__title {
      @include mixin.flex-column;
      align-items: center;
      padding: 25px;
      flex-shrink: 0;
      position: relative;
      z-index: 9;
    }

    .solutions__list {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      flex-wrap: wrap;
      @include mixin.adaptive("gap", 15, 15);

      @include mixin.laptop {
        flex-wrap: nowrap;
      }
    }

    .solution__item {
      @include mixin.flex-column;
      justify-content: center;
      align-items: center;
      @include mixin.adaptive("gap", 25, 10);
      @include mixin.adaptive("max-width", 320, 230);
      width: 100%;
      position: relative;
      color: var(--color-white-primary);
      box-shadow: inset 0 5px 10px 5px rgba(0,0,0,0.25), inset 0 0 10px #FDFDFD;
      filter: drop-shadow(0 10px 5px var(--color-black-primary));
      @include mixin.adaptive("min-height", 280, 250);
      backdrop-filter: blur(3px);
    }

    .solution__item__text {
      position: relative;
      text-align: center;
      padding: 60px 30px;
    }

    .solution__item__icon {
      position: absolute;
      @include mixin.adaptive("top", 25, 5);
      @include mixin.adaptive("right", 25, 5);
      transform: rotate(45deg);
    }

    b {
      color: var(--color-primary);
    }
  }
}
