@use "@shared/styles/mixins" as mixin;

.activity {
  position: relative;
  z-index: 1;
  @include mixin.adaptive("padding-block", 90, 50);

  @include mixin.desktop-xl {
    &:before {
      position: absolute;
      content: "";
      top: 100px;
      width: 150px;
      height: 25px;
      background: var(--color-green-light);
    }
  }

  span {
    color: var(--color-primary);
  }

  .activity__wrapper {
    position: relative;
    z-index: 2;
    will-change: transform, opacity;
    @include mixin.flex-column;
    @include mixin.adaptive("gap", 25, 10);

    .activity__header {
      @include mixin.adaptive("gap", 20, 10 );
      @include mixin.flex-column;
    }

    .activity__content {
      @include mixin.flex-space;
      flex-direction: column;

      @include mixin.desktop {
        flex-direction: row;
      }
    }

    .activity__background {
      display: none;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        right: -25px;
        bottom: -12px;
        background-image: url("/activity/activity-background-line.svg");
        background-repeat: no-repeat;
        width: 103%;
        height: 285px;
      }
      
      @include mixin.desktop {
        display: block;
      }
    }

    .activity__title {
      color: var(--color-white-primary);
      margin: 0 0 40px;
    }

    hr {
      height: 1px;
      width: 100%;
      border: none;
      background: var(--color-white-primary);

      @include mixin.tablets {
        width: 1px;
        height: 100px;
      }
    }
  }
}
