@use "@shared/styles/_mixins.scss" as mixin;

.header__nav {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  opacity: 0;
  @include mixin.flex-column;
  align-items: center;
  gap: 10px;
  will-change: transform, opacity;
  transition: ease-in-out .3s;
  width: 100%;
  border-left: 0 solid transparent;
  border-right: 50px solid transparent;
  z-index: 1;
  margin: auto 0;
  @include mixin.adaptive("height", 125, 45);

  &.active {
    border: 2px solid var(--color-primary);
    background: var(--color-black-primary);
    border-radius: 8px;
    transform: scaleY(1);
    opacity: 1;
    top: 0;
    left: 0;
    padding: 20px 0;
  }

  @include mixin.laptop {
    position: relative;
    opacity: 1;
    transform: scaleY(1);

    @include mixin.flex-row;
  }

  .header__links {
    @include mixin.flex-column;
    @include mixin.adaptive("gap", 30, 15);
    z-index: 2;
    border-radius: 25px;
    @include mixin.adaptive("padding-block", 30, 20);
    align-items: flex-start;
    width: max-content;

    @include mixin.laptop {
      @include mixin.flex-row;
      align-items: center;
    }

    .header__link {
      @include mixin.flex-row;
      @include mixin.adaptive("gap", 20, 15);
    }

    .header__vertical_line {
      opacity: 1;
      height: 30px;
      width: 2px;
      background: var(--color-white-primary);
      border: none;
      transition: ease-in-out .3s;

      @include mixin.laptop {

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .header__button {
    z-index: 1;

    @include mixin.laptop {
      margin: 0 0 0 auto;
    }
  }
}

.header__burger__wrapper {
  cursor: pointer;
  display: block;
  z-index: 1;
  height: 15px;

  @include mixin.laptop {
    display: none;
  }

  .header__burger {
    position: relative;
    width: 25px;
    height: 2px;
    background: var(--color-white-primary);
    border-radius: 10px;
    transition: all .3s;

    &::before {
      position: absolute;
      transition: all .3s;
      content: "";
      top: 5px;
      left: 0;
      width: 25px;
      height: 2px;
      background: var(--color-white-primary);
      border-radius: 10px;
    }

    &::after {
      position: absolute;
      transition: all .3s;
      content: "";
      top: 10px;
      left: 0;
      width: 25px;
      height: 2px;
      background: var(--color-white-primary);
      border-radius: 10px;
    }

    &.active {
      background: transparent;

      &::before {
        position: absolute;
        content: "";
        transform: rotate(45deg);
        top: 5px;
        left: 0;
        width: 25px;
        height: 2px;
        background: var(--color-primary);
        border-radius: 10px;
      }

      &::after {
        position: absolute;
        content: "";
        top: 5px;
        left: 0;
        width: 25px;
        height: 2px;
        background: var(--color-primary);
        border-radius: 10px;
        transform: rotate(-45deg);
      }
    }
  }
}
