@use "@shared/styles/mixins" as mixin;

.activity__footer {
  @include mixin.flex-column;
  @include mixin.adaptive("gap", 25, 10);

  @include mixin.tablets {
    @include mixin.flex-row;
    justify-content: space-between;
    align-items: self-end;
  }

  span {
    color: var(--color-primary);
  }

  .activity__desc {
    color: var(--color-white-primary);

    &:nth-child(1) {
      @include mixin.flex-column;
      gap: 10px;
      max-width: 614px;
    }

    &:nth-child(2) {
      padding: 20px;
      border: 2px solid var(--color-white-primary);
      border-radius: 20px 0 20px 0;
    }

    .consultation__button__wrapper {
      width: 100%;

      @include mixin.tablets {
        max-width: 430px;
        margin: 0 auto;
      }
    }
  }
}
