@use "@shared/styles/mixins" as mixin;

.case_card__wrapper {
  position: relative;
  border-radius: 5px;
  padding: 25px;
  min-height: 300px;
  height: 100%;
  width: 100%;

  @include mixin.flex-column;

  @include mixin.tablets {
    @include mixin.flex-row;

    justify-content: space-between;
    background: black;
  }

  .case_type {
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0;
  }

  &.primary {
    background: linear-gradient(90deg, rgb(211 96 183 / 100%) 0%, rgb(219 154 203 / 100%) 100%);
    color: var(--color-white-primary);

    .case_type {
      background: #c841a7;
    }
  }

  &.secondary {
    background: linear-gradient(90deg, rgb(0 147 218 / 100%) 0%, rgb(170 234 238 / 100%) 100%);
    color: var(--color-white-primary);

    .case_type {
      background: #2478f7;
    }
  }

  &.classic {
    background: linear-gradient(90deg, rgb(218 161 0 / 100%) 0%, rgb(226 238 170 / 100%) 100%);
    color: var(--color-white-primary);

    .case_type {
      background: #ffbd0e;
    }
  }

  .case__text {
    @include mixin.flex-column;

    gap: 15px;
    height: 100%;
    z-index: 9;
  }

  .case__title {
    max-width: 350px;
  }

  .case_result__wrapper {
    @include mixin.flex-column;

    margin-top: auto;
    gap: 5px;
  }

  .result__text {
    border-radius: 3px;
    max-width: 500px;
  }

  .case__img {
    max-height: 300px;
    height: 100%;
  }
}
