@use "@shared/styles/mixins" as mixin;

.case_card__wrapper {
  position: relative;
  @include mixin.adaptive("gap", 22, 15);
  padding-block: 20px;
  @include mixin.flex-column;
  align-items: center;

  @include mixin.phones {
    @include mixin.flex-row;
  }

  &.primary .case__img:before,
  &.secondary .case__img:before,
  &.tertiary .case__img:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mixin.adaptive("width", 150, 65);
    @include mixin.adaptive("height", 150, 65);
    border-radius: 50px;
    filter: blur(40px);
    z-index: -1;
  }

  &.primary .case__img:before {
    background: var(--color-primary);
  }

  &.secondary .case__img:before {
    background: #FCFCFC;
  }

  &.tertiary .case__img:before {
    background: #96BBB7;
  }

  & + .case_card__wrapper {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      width: 20vw;
      height: 2px;
      background: var(--color-primary);
      top: -40px;
      left: 0;
    }

    &:before {
      position: absolute;
      content: "";
      width: 20vw;
      height: 2px;
      background: var(--color-primary);
      top: -13px;
      right: 0;
    }

    @include mixin.tablets {
      border-top: 2px solid var(--color-primary);

      &:after,
      &:before {
        display: none;
      }
    }
  }

  .case__img {
    position: relative;

    img {
      @include mixin.adaptive("width", 275, 125);
    }
  }

  .case__content {
    @include mixin.flex-column;
    @include mixin.adaptive("gap", 22, 15);
    padding: 0 20px;

    @include mixin.tablets {
      padding: 0;
    }
  }

  .case__title {
    color: var(--color-primary);
  }
}
