@use "@shared/styles/_mixins.scss" as mixin;

.news {
    border-top: 1px solid var(--color-gray-secondary);

    padding: 0 20px;

    @include mixin.adaptive("padding-block", 80, 30);

    b {
        color: var(--color-primary);
    }

    .news__wrapper {
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;

        @include mixin.adaptive("gap", 50, 20);
        @include mixin.flex-column;

        .news__list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(auto, 800px));
            justify-content: center;
            gap: 50px;
        }
    }
}
