@use "@shared/styles/_mixins.scss" as mixin;

.start_screen {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--color-green-dark);
    width: 40px;
    filter: blur(100px);
  }

  .start__wrapper {
    margin: 60px 0 0;

    @include mixin.laptop {
      @include mixin.flex-space;
      align-items: self-start;
    }

    .start__content {
      @include mixin.flex-column;
      align-items: self-start;
      @include mixin.adaptive("gap", 30, 15);
      @include mixin.adaptive("padding-block", 60, 30);
    }

    .start__content__title {
      @include mixin.flex-column;
      @include mixin.adaptive("gap", 30, 15);
    }

    .start__content__text {
      @include mixin.flex-column;
      @include mixin.adaptive("gap", 40, 20);
      max-width: 900px;

      span {
        color: var(--color-primary);
      }
    }

    .start__content__desc {
      @include mixin.flex-column;
      @include mixin.adaptive("gap", 20, 10);
      margin-top: auto;
    }

    .consultation__button__wrapper {
      margin-top: auto;
      max-width: 377px;
    }

    .start__animation__wrapper {
      display: none;

      @include mixin.laptop {
        display: block;
        position: relative;
        height: 600px;
        width: 800px;
      }
    }
  }

  .start__background {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    height: 100%;
    z-index: -1;

    img {
      position: relative;
      height: 100%;
      width: max-content;
      object-fit: contain;
    }
  }
}
