@use "@shared/styles/mixins" as mixin;

.internship__wrapper {
  border-top: 2px solid var(--color-primary);
  background: var(--color-black-primary);
  padding: 0 20px;
  width: 100%;

  @include mixin.adaptive("padding-block", 80, 30);

  .internship__content {
    @include mixin.flex-column;
    @include mixin.adaptive("gap", 30, 20);

    padding: 20px;

    .stage_internship__list {
      @include mixin.flex-column;

      gap: 10px;

      .stage_internship__item {
        @include mixin.flex-row;

        gap: 10px;
        color: var(--color-white-primary);

        .dot {
          flex-shrink: 0;
          width: 10px;
          height: 10px;
          border-radius: 50px;
          background: var(--color-primary);
        }
      }
    }
  }
}
