@use "normalize";
@use "fonts";
@use "globals";
@use "mixins";

:root {
    /* FONTS */
    --font-primary: "Roboto";
    --font-size-h1: 128px;
    --font-size-h2: 40px;
    --font-size-h3: 32px;
    --font-size-body: 28px;
    --font-size-small: 24px;
    --font-size-h1-min: 20px;
    --font-size-h2-min: 18px;
    --font-size-h3-min: 14px;
    --font-size-body-min: 12px;
    --border-radius-xs: 1px;
    --border-radius-sm: 3px;
    --border-radius-md: 5px;
    --border-radius-lg: 10px;
    --border-radius-xl: 15px;
    --border-radius-xxl: 20px;
    --border-radius-over: 100px;

    /* COLORS */
    --color-primary: #61C7BB;
    --color-primary-hover: #1c5c56;
    --color-secondary: #464646;
    --color-black-primary: #353434;
    --color-black-secondary: #403D3D;
    --color-gray-primary: #C2C2C2;
    --color-gray-secondary: #D1D1D1;
    --color-white-primary: #fff;
    --color-white-secondary: #FAFAFA;
    --color-gray-dark: #616161;

    /* SIZES */
    --header-heigth: 187px;
    --footer-heigth: 78px;

    /* OTHER */
    --hover-effect: brightness(1.15);

    /* DURATION */
    --duration-very-slow: 2500ms;
    --duration-slow: 2000ms;
    --duration-semi-slow: 1500ms;
    --duration-semi-fast: 400ms;
    --duration-fast: 300ms;
    --duration-very-fast: 150ms;
}


body {
    overflow-x: hidden;
    font-family: var(--font-primary);
    font-size: var(--font-size-h3-min);
    color: var(--color-white-primary);
    background-color: var(--color-secondary);
    position: relative;
    min-height: 100vh;
    -webkit-tap-highlight-color: #0000;
}
