@use "@shared/styles/mixins" as mixin;

.platform__list__wrapper {
  @include mixin.flex-column;
  @include mixin.adaptive("gap", 100, 40);

  .platforms__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 279px));
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 80%;
      height: 100%;
      background: var(--color-primary);
      filter: blur(60px);
      opacity: 0.2;
    }

    @include mixin.adaptive("gap", 25, 10);

    .platform__item {
      position: relative;
      cursor: pointer;
      transition: all .5s;
      @include mixin.flex-column;
      justify-content: center;
      background: url("/vectors/platform-frame.svg") no-repeat;
      background-size: cover;
      @include mixin.adaptive("width", 451, 279);
      @include mixin.adaptive("height", 166, 103);

      &:after {
        position: absolute;
        content: "";
        width: 28px;
        height: 24px;
        top: -5px;
        left: 5px;
        border-radius: 5px;
        background: linear-gradient(45deg, rgba(108,207,207,1) 0%, rgba(49,253,224,1) 50%, rgba(108,207,207,1) 100%);
        opacity: 80%;
      }
    }

    .platform__content {
      @include mixin.flex-column;
      justify-content: space-between;
      @include mixin.adaptive("gap", 10, 5);
      position: relative;
      z-index: 3;
      max-width: 80%;
      margin-left: 10%;
    }
  }

  .platform__link {;
    border-radius: 15px;
    transition: ease-in 0.3s;
    color: var(--color-white-primary);

    &:hover {
      text-shadow: 0 0 10px var(--color-primary);
      color: var(--color-primary);
    }
  }
}