@use "@shared/styles/mixins" as mixin;

.platform__list__wrapper {
  @include mixin.flex-column;
  @include mixin.adaptive("gap", 100, 40);

  .platforms__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 279px));
    position: relative;

    @include mixin.adaptive("gap", 25, 10);

    .platform__item {
      position: relative;
      cursor: pointer;
      transition: all .5s;
      @include mixin.flex-column;
      justify-content: center;
      background: linear-gradient(180deg, rgba(44, 44, 44, 1) 20%, rgba(0, 0, 0, 1) 100%);
      min-height: 192px;
      border-radius: 20px;

      &:after {
        position: absolute;
        content: "";
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 2px;
        height: 120px;
        border-radius: 5px;
        background: var(--color-primary);
      }
    }

    .platform__content {
      @include mixin.flex-column;
      justify-content: space-between;
      @include mixin.adaptive("gap", 10, 5);
      position: relative;
      z-index: 3;
      max-width: 80%;
      padding: 20px 30px;
    }
  }

  .platform__link {
    border-radius: 15px;
    transition: ease-in 0.3s;
    color: var(--color-white-primary);
    border: 2px solid var(--color-primary);
    padding: 10px 20px;

    &:hover {
      box-shadow: 0 0 10px var(--color-primary);
      color: var(--color-primary);
    }
  }
}
