.circular__wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;

  .circular__main {
    background: var(--color-primary);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 5px solid #276E6656;

    & * {
      margin: 0 auto;
    }
  }

  .circular__beating {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: beats-circular infinite 1.5s;
    border: 1px solid var(--color-primary);
  }
}

@keyframes beats-circular {
  from {
    scale: 1;
    opacity: 1;
  }

  to {
    scale: 2;
    opacity: 0;
  }
}