@use "@shared/styles/mixins" as mixin;
$padding: 0;
$left: 30;

.activity__list {
  @include mixin.flex-column;
  justify-content: space-between;
  position: relative;
  background-image: url("/activity/activity-list-background-mobile.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  max-width: 1100px;
  width: 100%;
  @include mixin.adaptive("padding", 45, 35);

  @include mixin.laptop {
    background-image: url("/activity/activity-list-background.webp");

    //&:after {
    //  position: absolute;
    //  content: "";
    //  left: 10px;
    //  bottom: -18px;
    //  background-image: url("/activity/activity-list-line.svg");
    //  background-repeat: no-repeat;
    //  width: 103%;
    //  height: 423px;
    //}
  }

  .activity__item {
    @include mixin.flex-row;
    gap: 51px;
    position: relative;
    z-index: 2;

      &:after {
        position: absolute;
        content: "";
        bottom: -10px;
        left: -10px;
        width: 105%;
        height: 31px;
        background-image: url("/activity/activity-item-line.svg");
        background-repeat: no-repeat;
      }
  }

  @include mixin.laptop {
    @for $i from 1 through 6 {
      $padding: $i * 19; // Вычисляем padding для текущей итерации

      .activity__item:nth-child(#{$i}) {
        margin: 0 #{$padding}px;
      }
    }
  }

  .check_mark {
    position: absolute;
    bottom: 25px;
    left: -21px;
  }

  .activity__text {
    width: 100%;
  }
}

