@use "@shared/styles/mixins" as mixin;

.activity__list {
  @include mixin.flex-column;
  @include mixin.adaptive("gap", 40, 20);
  max-width: 614px;

  .activity__item {
    @include mixin.flex-row;
    gap: 23px;
    position: relative;

    .check_mark {
      color: var(--color-primary);
      text-shadow: 0 5px 4px #53DFCF22;
    }

    .activity__text {
      width: 100%;
      @include mixin.adaptive("padding", 20, 10);
      border: 1px dashed var(--color-primary);
      border-radius: 20px 0 20px 0;
      color: var(--color-white-primary);
      background: linear-gradient(90deg, rgba(80,80,80,1) 80%, rgba(172,165,165,0.2) 100%);
    }
  }
}
