@use "@shared/styles/_mixins.scss" as mixin;

.contact__wrapper {
    @include mixin.flex-column;

    gap: 20px;

    .contact__list {
        @include mixin.flex-column;

        gap: 10px;

        .contact__item {
            @include mixin.flex-row;

            gap: 15px;
        }
    }

    .contact__social__wrapper {
        @include mixin.flex-column;

        gap: 15px;
    }
}
