@use "@shared/styles/mixins" as mixin;
$iconSizeMax: 73;
$iconSizeMin: 40;

.services__list {
  @include mixin.flex-wrap;
  justify-content: center;
  gap: 50px;
  clip-path: inset(0);
  z-index: 2;

  @include mixin.laptop {
    @include mixin.flex-row;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .services__item {
    width: 100%;
    min-height: 442px;
    height: 100%;
    transition: ease-in-out .3s;
    @include mixin.flex-column;
    align-items: center;
    position: relative;
    background: linear-gradient(180deg, #363636 0%, #033F38 100%);
    padding: 25px 25px 40px;
    border-radius: 20px;

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 2px;
      background: var(--color-primary);
    }

    .service__header {
      @include mixin.flex-column;
      align-items: center;
      gap: 25px;
      width: 100%;
    }

    .service__icon {
      @include mixin.adaptive("width", $iconSizeMax, $iconSizeMin);
      @include mixin.adaptive("height", $iconSizeMax, $iconSizeMin);
    }

    .service__name {
      max-width: 245px;
      text-align: center;
      margin: 0 0 25px;
    }

    .service__info {
      margin: 0 0 10px;
      text-align: center;
    }

    .service__link {
      @include mixin.adaptive("max-width", 320, 250);
      width: 100%;
      margin-top: auto;
    }
  }
}
