@use "@shared/styles/mixins" as mixin;

.services__list {
  @include mixin.flex-wrap;
  justify-content: center;
  @include mixin.adaptive("gap", 30, 20);

  @include mixin.laptop {
    @include mixin.flex-row;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  .services__item {
    padding-block: 25px;
    transition: ease-in-out .3s;

    @include mixin.flex-column;
    align-items: center;
    @include mixin.adaptive("gap", 20, 10);
    @include mixin.adaptive("padding-inline", 30, 20);

    &:hover .service__icon__wrapper {
      border: 2px solid var(--color-primary);
      box-shadow: 0 0 5px var(--color-primary);
    }

    .service__icon {
      transition: ease-in-out .3s;

      path {
        transition: ease-in-out .3s;
      }
    }

    &:hover .service__icon {
      scale: 0.9;

      path {
        fill: var(--color-white-primary);
      }
    }

    .service__link {
      margin: auto 0 0;
      transition: ease-in-out .3s;
    }

    &:hover .service__link {
      color: var(--color-primary);
    }
  }

  .service__icon__wrapper {
    border: 2px solid var(--color-white-primary);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    @include mixin.flex-center;
    flex-shrink: 1;
    transition: ease-in-out .3s;
  }

  .services__name {
    margin: 0 0 10px;
    text-align: center;
  }

  .service__info {
    margin: 0 0 10px;
    text-align: center;
  }

  .icon__link {
    transform: rotate(-90deg);
  }
}
