@use "@shared/styles/mixins" as mixin;
$iconWrapperSizeMax: 150;
$iconWrapperSizeMin: 95;
$iconSizeMax: 100;
$iconSizeMin: 67;

.services__list {
  @include mixin.flex-wrap;
  justify-content: center;
  gap: 50px;
  clip-path: inset(0);

  @include mixin.laptop {
    @include mixin.flex-row;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .services__item {
    width: 100%;
    transition: ease-in-out .3s;
    @include mixin.adaptive("min-height", 350, 245);
    @include mixin.flex-column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      width: 20vw;
      height: 2px;
      background: var(--color-primary);
      bottom: -30px;
      left: 0;
    }

    &:before {
      position: absolute;
      content: "";
      width: 20vw;
      height: 2px;
      background: var(--color-primary);
      bottom: -30px;
      right: 0;
    }

    @include mixin.laptop {
      &:after,
      &:before {
        display: none;
      }
    }

    &:hover .service__icon__wrapper {
      border: 2px solid var(--color-primary);
      box-shadow: 0 0 5px var(--color-primary);
    }

    .service__icon__wrapper {
      border: 2px solid var(--color-white-primary);
      @include mixin.adaptive("width", $iconWrapperSizeMax, $iconWrapperSizeMin);
      @include mixin.adaptive("height", $iconWrapperSizeMax, $iconWrapperSizeMin);
      border-radius: 50%;
      @include mixin.flex-center;
      flex-shrink: 1;
      transition: ease-in-out .3s;
    }

    .service__icon {
      transition: ease-in-out .3s;
      @include mixin.adaptive("width", $iconSizeMax, $iconSizeMin);
      @include mixin.adaptive("height", $iconSizeMax, $iconSizeMin);

      path {
        transition: ease-in-out .3s;
      }
    }

    .services__name {
      margin: 0 0 10px;
      text-align: center;
    }

    .service__info {
      margin: 0 0 10px;
      text-align: center;
    }

    .icon__link {
      transform: rotate(-90deg);
    }

    &:hover .service__icon {
      scale: 0.9;

      path {
        fill: var(--color-white-primary);
      }
    }

    .service__link {
      @include mixin.adaptive("max-width", 320, 250);
      width: 100%;
    }
  }
}
