@use "@shared/styles/mixins" as mixin;

.services {
    clip-path: inset(0);
    will-change: transform;
    overflow-x: hidden;

    @include mixin.adaptive("padding-block", 80, 30);

    .services__wrapper {
        @include mixin.flex-column;

        b {
            color: var(--color-primary)
        }

        .services__content {
            margin: 0 0 50px;

            .services__title {
                @include mixin.adaptive("margin-bottom", 40, 20);
            }
        }
    }
}
