@use "@shared/styles/mixins" as mixin;

.services {
    @include mixin.adaptive("margin-top", 80, 40);

    &:after {
        position: absolute;
        content: "";
        top: 15px;
        left: 5px;
        width: 18px;
        height: 95%;
        background: linear-gradient(to bottom, #97FCF0, #338A80);
        border-radius: 50px;
        filter: blur(100px);
        z-index: 2;
    }

    .services__wrapper {
        @include mixin.flex-column;

        .services__content {

            .services__title {
                position: relative;
                @include mixin.adaptive("margin-bottom", 60, 35);

                &:before {
                    position: absolute;
                    content: "";
                    left: -160px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 150px;
                    height: 25px;
                    background: var(--color-green-light);
                }
            }
        }
    }
}
