@use "@shared/styles/_mixins.scss" as mixin;

.slider__wrapper {
    position: relative;

    @include mixin.flex-column;
    @include mixin.adaptive("gap", 60, 20);

    .slide__item {
        position: relative;
        scale: 1;
        width: 100%;
        height: 100%;

        @include mixin.flex-column;
        @include mixin.adaptive("gap", 30, 20);

        transition: ease-in-out .5s;

        &.active {
            position: relative;
            scale: 1;
            width: 100%;
            height: 100%;

            @include mixin.flex-column;
            @include mixin.adaptive("gap", 30, 20);
        }

        .slide__content {
            @include mixin.flex-row;

            gap: 20px;
        }

        .slide__info {
            @include mixin.flex-column;
            @include mixin.adaptive("gap", 30, 20);

            transition: ease-in-out .3s;

            img {
                border-radius: 5px;
                width: 100%;
                max-width: 500px;
            }
        }
    }

    .arrows {
        @include mixin.flex-row;

        gap: 60px;

        .arrow__back,
        .arrow__next {
            position: relative;
            cursor: pointer;
            flex-shrink: 0;
            border: 1px solid var(--color-gray-primary);
            border-radius: 50px;
            width: 40px;
            height: 40px;

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 12px;
                height: 2px;
                border-radius: 1px;
                background: var(--color-gray-primary);
            }
        }

        .arrow__back {
            &::before {
                top: 21px;
                left: 13px;
                transform: rotate(45deg);
            }

            &::after {
                top: 14px;
                left: 13px;
                transform: rotate(-45deg);
            }
        }

        .arrow__next   {
            &::before {
                top: 21px;
                left: 15px;
                transform: rotate(-45deg);
            }

            &::after {
                top: 14px;
                left: 15px;
                transform: rotate(45deg);
            }
        }
    }
}
