.images {
  width: 750px;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;

  .main__before, .main__after {
    position: absolute;
    width: 750px;
    height: 400px;
    object-fit: cover;
    z-index: 1;
  }

  .circular {
    position: absolute;
    left: 88px;
    z-index: 0;
    opacity: 0.5;
  }

  .main__after {
    opacity: 0;
  }
}
