@use "@shared/styles/_mixins.scss" as mixin;

.news__item__wrapper {
  @include mixin.flex-column;

  border-radius: 5px;
  background: var(--color-black-primary);
  padding: 10px;
  gap: 20px;
  max-width: 350px;
  min-height: 350px;
  z-index: 1;

  .news__item__img__wrapper {

    .news__item__img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  .news__item__title {
    cursor: pointer;
    color: var(--color-primary);
    transition: all .3s;

    &:hover {
      color: var(--color-primary-hover);
    }
  }
}
