@use "@shared/styles/_mixins.scss" as mixin;

.news__item__wrapper {
  @include mixin.flex-column;

  border-radius: 5px;
  background: var(--color-black-primary);
  padding: 10px;
  gap: 20px;
  max-width: 500px;
  max-height: 560px;
  z-index: 1;

  .news__item__img {
    max-width: 1000px;

    img {
      width: 100%;
    }
  }

  .news__item__title {
    cursor: pointer;
    color: var(--color-primary);
    transition: all .3s;

    &:hover {
      color: var(--color-primary-hover);
    }
  }
}
