@use "@shared/styles/_mixins.scss" as mixin;

.AppLink {
  position: relative;
  @include mixin.adaptive("font-size", 20, 14);
  @include mixin.adaptive("line-height", 19, 16);
  width: max-content;
  font-weight: 400;
  font-family: var(--font-primary);
  transition: all .3s;
  display: flex;
  align-items: center;


  &.variant {
    transition: all .3s;

    &--primary {
      color: var(--color-secondary);
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 0;
        bottom: -3px;
        height: 2px;
        background: var(--color-secondary);
        transition: all .3s;
      }

      &:hover {
        color: var(--color-black);
        &::before {
          width: 100%;
        }
      }
    }

    &--secondary {
      color: var(--color-white-primary);
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 0;
        bottom: -3px;
        height: 2px;
        background: var(--color-white-secondary);
        transition: all .3s;
      }

      &:hover {
        color: var(--color-white-secondary);

        &::before {
          width: 100%;
        }
      }
    }
  }
}
